* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

image {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html, body {
  height: 100%;
  background-color: #333;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  max-width: 100%;
}

.grid__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px, 1fr;
  grid-template-columns: 150px, 1fr;
  -ms-grid-rows: 100px, 1fr;
  grid-template-rows: 100px, 1fr;
      grid-template-areas: "header header" "sidebar content";
}

.grid__item {
  text-align: center;
  border: 2px dashed red;
  padding: 30px;
}

.grid__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.grid__side {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
}

.grid__content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
}