@import "rullstyle";
@import "PT Sans";

body {
    font-family: "PT sans";
    font-style: italic;
    font-weight: 700;
    margin: 30px;
    line-height: 30px;
    font-size: 30px;
    color: rgb(255, 247, 0);
}
