@import "rullstyle";

html,body{
	background: #F5F5F5;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-weight: 700;
	font-size: 50px;
	line-height: 140%;
}

h2 {
	text-align: center;
	font-weight: 700;
	font-size: 40px;
	line-height: 140%;
	padding-bottom: 70px;
}

h3 {
	font-weight: 700;
	font-size: 40px;
	line-height: 140%;
	padding-bottom: 24px;
}

.container {
	max-width: 1110px;
    margin: 0 auto;
}

.intro {
	font-weight: 500;
	font-size: 18px;
	line-height: 136.7%;
}

.image {
	width: 465px;
	height: 465px;
	padding: 105px;
	border-radius: 70px;
}

.header {
	padding-top: 60px;

	// .header__logo

	&__logo {
	}

	// .header__wrapper

	&__wrapper {
		padding-top: 80px;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	// .header__image

	&__image {
		background: linear-gradient(180deg, #FFE195 0%, #FF5B5B 100%);
	}

	// .header__text

	&__text {
		padding-top: 38px;
		width: 465px;
	}

	// .header__intro

	&__intro {
		padding-top: 30px;
	}

	// .header__button

	&__button {
		margin-top: 30px;
	}
}


.button {
	display: flex;
	color: #fff;
	align-items: center;
	justify-content: center;
	width: 227px;
	height: 69px;
	background: #FF6861;
	border-radius: 100px;
	text-decoration: none;
	font-weight: 700;
	font-size: 18px;
	line-height: 136.7%;
}

.prospects {
	padding-top: 120px;
	width: 720px;
	margin: 0px auto;
	// .prospects__list

	&__list {
	}

	// .prospects__items

	&__items {
		display: flex;
		align-items: center;
		padding-bottom: 41px;
	}

	&__items:last-child {
		display: flex;
		align-items: center;
		padding-bottom: 120px;
	}

	// .prospects__sneaker

	&__sneaker {
	}

	// .prospects__item

	&__item {
		padding-left: 34px;
	}

	// .prospects__point

	&__point {
		font-weight: 700;
		font-size: 30px;
		line-height: 140%;
		padding-bottom: 11px;
	}

	// .prospects__description

	&__description {
	}

	// .prospects__duck

	&__duck {
	}

	// .prospects__cup

	&__cup {
	}
}

.development {
	width: 1110px;
	margin: 0px auto;
	height: 486px;
	background: linear-gradient(102deg, #FFF6DF 17.38%, #FFDFDE 81.25%);
	border-radius: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;


	// .development__banner

	&__banner {
		display: flex;
		flex-direction: row-reverse;
	}

	// .development__text

	&__text {
		width: 475px;
	}

	// .development__intro

	&__intro {
		padding-bottom: 24px;
		width: 371px;
	}

	// .development__button

	&__button {
	}
}

.footer {
	text-align: center;
    padding: 120px 0px;
}