* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

image {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html, body {
  background: #F5F5F5;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 140%;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  padding-bottom: 70px;
}

h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  padding-bottom: 24px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.intro {
  font-weight: 500;
  font-size: 18px;
  line-height: 136.7%;
}

.image {
  width: 465px;
  height: 465px;
  padding: 105px;
  border-radius: 70px;
}

.header {
  padding-top: 60px;
}
.header__wrapper {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__image {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFE195), to(#FF5B5B));
  background: linear-gradient(180deg, #FFE195 0%, #FF5B5B 100%);
}
.header__text {
  padding-top: 38px;
  width: 465px;
}
.header__intro {
  padding-top: 30px;
}
.header__button {
  margin-top: 30px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 227px;
  height: 69px;
  background: #FF6861;
  border-radius: 100px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 136.7%;
}

.prospects {
  padding-top: 120px;
  width: 720px;
  margin: 0px auto;
}
.prospects__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 41px;
}
.prospects__items:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 120px;
}
.prospects__item {
  padding-left: 34px;
}
.prospects__point {
  font-weight: 700;
  font-size: 30px;
  line-height: 140%;
  padding-bottom: 11px;
}
.development {
  width: 1110px;
  margin: 0px auto;
  height: 486px;
  background: linear-gradient(102deg, #FFF6DF 17.38%, #FFDFDE 81.25%);
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.development__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.development__text {
  width: 475px;
}
.development__intro {
  padding-bottom: 24px;
  width: 371px;
}
.footer {
  text-align: center;
  padding: 120px 0px;
}