@import "rullstyle";

body {
    color: rgb(255, 30, 0);
    margin: 30px;
}

$size: 30px;
$color: purple;

%sborder {
    border: 5px solid red;
}

@mixin fontz($size, $color) {
    font-size: $size;
    color: $color;
}

.block {
    width: 300px / 960px *100%;
    background-color: #666;
    font-size: 14px;
    line-height: 60px;
    span {
        color: green;
    }
    .block_text {
        font-size: $size;
        p {
            color: red;
        }
    }
    &.block_big{
        font-size: $size;
    }
}

.link {
    color: blue;
    text-decoration: underline;
    &:hover {
        color: green;
    }
    @extend %sborder;
}

.link-2 {
    @include fontz(100px,red);
    border-bottom: 5px dashed greenyellow;
    @extend %sborder;
}